html,
body {
  height: 100%;
  margin: 0;
  /* background-color: #ebebeb; */
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .box > *:first-child {
  align-self: center;
} */

.box .end {
  align-self: end;
}

.box .start {
  align-self: start;
}

.box .center {
  align-self: center;
}

.box .stretch {
  align-self: stretch;
}

.box-grow {
  /* flex: 1 0 auto; */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-table td {
  padding: 10px 20px;
}
.about-label {
  padding: 10px 20px;
  font-weight: bold;
  text-align: start;
}

.mt-7 {
  margin-top: 28px;
}
.mt-12 {
  margin-top: 42px;
}

.dd-h-30 {
  min-height: 120px;
}

.dd-w-40 {
  min-width: 160px;
}

.dd-w-60 {
  min-width: 240px;
}
