
/*

(c) Copyright 2020-2024 ABB

Any unauthorized use, reproduction, distribution,
or disclosure to third parties is strictly forbidden.
ABB reserves all rights regarding Intellectual Property Rights

// OmniCore App SDK 1.4.1

*/

.fp-components-input-container {
    padding-top: 2px;
    padding-bottom: 2px;
}

.fp-components-input {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    min-height: 36px;
    display: flex;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: var(--fp-color-GRAY-20);
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    transition: all 0.15s linear;
    font-size: 14px;
}

.fp-components-input.fp-components-input-disabled {
    color: var(--fp-color-TEXT-BLACK-DISABLED);
    background-color: var(--fp-color-BLACK-OPACITY-4);
    border-color: rgba(0,0,0,0);
}

.fp-components-input > p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;    
}

.fp-components-input-desc {
    display: block;
    margin-bottom: 4px;
    margin-left: 2px;
    font-size: 14px;
    line-height: 20px;
}