
/*

(c) Copyright 2020-2024 ABB

Any unauthorized use, reproduction, distribution,
or disclosure to third parties is strictly forbidden.
ABB reserves all rights regarding Intellectual Property Rights

// OmniCore App SDK 1.4.1

*/

.fp-components-foldin {
    background-color: #f5f5f5;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 0;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 0 5px  #222222;
    transition: width 0.3s;
    z-index: 2147480001;
}

.fp-components-foldin-inner {
    min-width: 0;
}

.fp-components-foldin-glasspane {
    background: black;
    opacity: 0.5;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 2147480000;
}