
/*

(c) Copyright 2020-2024 ABB

Any unauthorized use, reproduction, distribution,
or disclosure to third parties is strictly forbidden.
ABB reserves all rights regarding Intellectual Property Rights

// OmniCore App SDK 1.4.1

*/

:root {
    
    --fp-color-STD-BACKGROUND:              #FFFFFF;

    /* ABB BRAND COLORS */
    --fp-color-ABB-BRAND-WHITE:             #FFFFFF;
    --fp-color-ABB-BRAND-RED:               #FF000F;
    --fp-color-ABB-BRAND-BLACK:             #000000;

    /* ABB THEME COLORS */
    --fp-color-ABB-THEME-SNOW:              #FFFFFF;
    --fp-color-ABB-THEME-CLOUD:             #F5F5F5;
    --fp-color-ABB-THEME-GRAPHITE:          #333333;
    --fp-color-ABB-THEME-CHARCOAL:          #1F1F1F;
    
    /* ABB TEXT COLORS */
    --fp-color-PRIMARY-TEXT:                #000000;
    --fp-color-SECONDARY-TEXT:              #DBDBDB;

    --fp-color-TEXT-WHITE-PRIMARY:          #FFFFFF;
    --fp-color-TEXT-WHITE-SECONDARY:        #DBDBDB;
    --fp-color-TEXT-WHITE-DISABLED:         rgba(255, 255, 255, 0.4);   /* #FFFFFF66 */
    --fp-color-TEXT-BLACK-PRIMARY:          #000000;
    --fp-color-TEXT-BLACK-SECONDARY:        #686868;
    --fp-color-TEXT-BLACK-DISABLED:         rgba(31, 31, 31, 0.4);      /* #1F1F1F66 */
    
    /* ABB COLOR SHADES */
    --fp-color-WHITE:                       #FFFFFF;
    --fp-color-BLACK:                       #000000;
    --fp-color-BLUE-PRIMARY-HIGHLIGHT:      #3366FF;

    --fp-color-GRAY-10:                     #EBEBEB;
    --fp-color-GRAY-20:                     #DBDBDB;
    --fp-color-GRAY-30:                     #BABABA;
    --fp-color-GRAY-40:                     #9F9F9F;
    --fp-color-GRAY-50:                     #848484;
    --fp-color-GRAY-60:                     #686868;
    --fp-color-GRAY-70:                     #525252;
    --fp-color-GRAY-80:                     #333333;
    --fp-color-GRAY-90:                     #1F1F1F;
    --fp-color-GRAY-100:                    #0F0F0F;

    --fp-color-BLUE-10:                     #E0F0FF;    
    --fp-color-BLUE-20:                     #C5DFF9;    
    --fp-color-BLUE-30:                     #9EBEF7;    
    --fp-color-BLUE-40:                     #77A3FC;    
    --fp-color-BLUE-50:                     #4C85FF;    
    --fp-color-BLUE-60:                     #3366FF;  
    --fp-color-BLUE-70:                     #2A35FF;  
    --fp-color-BLUE-80:                     #2C20D4;  
    --fp-color-BLUE-90:                     #150C9B;  
    --fp-color-BLUE-100:                    #080261;  

    --fp-color-RED-10:                      #FFE8E9;
    --fp-color-RED-20:                      #FFC9CD;
    --fp-color-RED-30:                      #FF99A0;
    --fp-color-RED-40:                      #FF757E;
    --fp-color-RED-50:                      #FF4754;
    --fp-color-RED-60:                      #E12E2E;
    --fp-color-RED-70:                      #CC0815;
    --fp-color-RED-80:                      #A30005;
    --fp-color-RED-90:                      #5C0006;
    --fp-color-RED-100:                     #3E0000;

    /* ABB OPACITY SHADES */
    --fp-color-WHITE-OPACITY-2:             rgba(255, 255, 255, 0.04);  /* #FFFFFF0A  */
    --fp-color-WHITE-OPACITY-4:             rgba(255, 255, 255, 0.08);  /* #FFFFFF14  */
    --fp-color-WHITE-OPACITY-6:             rgba(255, 255, 255, 0.12);  /* #FFFFFF1F  */
    --fp-color-WHITE-OPACITY-8:             rgba(255, 255, 255, 0.16);  /* #FFFFFF29  */
    --fp-color-WHITE-OPACITY-10:            rgba(255, 255, 255, 0.24);  /* #FFFFFF3D  */
    --fp-color-WHITE-OPACITY-20:            rgba(255, 255, 255, 0.32);  /* #FFFFFF52  */
    --fp-color-WHITE-OPACITY-30:            rgba(255, 255, 255, 0.40);  /* #FFFFFF66  */
    --fp-color-WHITE-OPACITY-40:            rgba(255, 255, 255, 0.48);  /* #FFFFFF7A  */
    --fp-color-WHITE-OPACITY-50:            rgba(255, 255, 255, 0.56);  /* #FFFFFF8F  */
    --fp-color-WHITE-OPACITY-60:            rgba(255, 255, 255, 0.64);  /* #FFFFFFA3  */
    --fp-color-WHITE-OPACITY-70:            rgba(255, 255, 255, 0.72);  /* #FFFFFFB8  */
    --fp-color-WHITE-OPACITY-80:            rgba(255, 255, 255, 0.80);  /* #FFFFFFCC  */
    --fp-color-WHITE-OPACITY-90:            rgba(255, 255, 255, 0.88);  /* #FFFFFFE0  */
    
    --fp-color-BLACK-OPACITY-2:             rgba(0, 0, 0, 0.04);        /* #0000000A  */
    --fp-color-BLACK-OPACITY-4:             rgba(0, 0, 0, 0.08);        /* #00000014  */
    --fp-color-BLACK-OPACITY-6:             rgba(0, 0, 0, 0.12);        /* #0000001F  */
    --fp-color-BLACK-OPACITY-8:             rgba(0, 0, 0, 0.16);        /* #00000029  */
    --fp-color-BLACK-OPACITY-10:            rgba(0, 0, 0, 0.24);        /* #0000003D  */
    --fp-color-BLACK-OPACITY-20:            rgba(0, 0, 0, 0.32);        /* #00000052  */
    --fp-color-BLACK-OPACITY-30:            rgba(0, 0, 0, 0.40);        /* #00000066  */
    --fp-color-BLACK-OPACITY-40:            rgba(0, 0, 0, 0.48);        /* #0000007A  */
    --fp-color-BLACK-OPACITY-50:            rgba(0, 0, 0, 0.56);        /* #0000008F  */
    --fp-color-BLACK-OPACITY-60:            rgba(0, 0, 0, 0.64);        /* #000000A3  */
    --fp-color-BLACK-OPACITY-70:            rgba(0, 0, 0, 0.72);        /* #000000B8  */
    --fp-color-BLACK-OPACITY-80:            rgba(0, 0, 0, 0.80);        /* #000000CC  */
    --fp-color-BLACK-OPACITY-90:            rgba(0, 0, 0, 0.88);        /* #000000E0  */
    
    --fp-color-BLUE-OPACITY-2:              rgba(51, 102, 255, 0.04);   /* #3366FF0A  */
    --fp-color-BLUE-OPACITY-4:              rgba(51, 102, 255, 0.08);   /* #3366FF14  */
    --fp-color-BLUE-OPACITY-6:              rgba(51, 102, 255, 0.12);   /* #3366FF1F  */
    --fp-color-BLUE-OPACITY-8:              rgba(51, 102, 255, 0.16);   /* #3366FF29  */
    --fp-color-BLUE-OPACITY-10:             rgba(51, 102, 255, 0.24);   /* #3366FF3D  */
    --fp-color-BLUE-OPACITY-20:             rgba(51, 102, 255, 0.32);   /* #3366FF52  */
    --fp-color-BLUE-OPACITY-30:             rgba(51, 102, 255, 0.40);   /* #3366FF66  */
    --fp-color-BLUE-OPACITY-40:             rgba(51, 102, 255, 0.48);   /* #3366FF7A  */
    --fp-color-BLUE-OPACITY-50:             rgba(51, 102, 255, 0.56);   /* #3366FF8F  */
    --fp-color-BLUE-OPACITY-60:             rgba(51, 102, 255, 0.64);   /* #3366FFA3  */
    --fp-color-BLUE-OPACITY-70:             rgba(51, 102, 255, 0.72);   /* #3366FFB8  */
    --fp-color-BLUE-OPACITY-80:             rgba(51, 102, 255, 0.80);   /* #3366FFCC  */
    --fp-color-BLUE-OPACITY-90:             rgba(51, 102, 255, 0.88);   /* #3366FFE0  */
    
    --fp-color-RED-OPACITY-2:               rgba(255, 0, 15, 0.04);     /* #FF000F0A  */
    --fp-color-RED-OPACITY-4:               rgba(255, 0, 15, 0.08);     /* #FF000F14  */
    --fp-color-RED-OPACITY-6:               rgba(255, 0, 15, 0.12);     /* #FF000F1F  */
    --fp-color-RED-OPACITY-8:               rgba(255, 0, 15, 0.16);     /* #FF000F29  */
    --fp-color-RED-OPACITY-10:              rgba(255, 0, 15, 0.24);     /* #FF000F3D  */
    --fp-color-RED-OPACITY-20:              rgba(255, 0, 15, 0.32);     /* #FF000F52  */
    --fp-color-RED-OPACITY-30:              rgba(255, 0, 15, 0.40);     /* #FF000F66  */
    --fp-color-RED-OPACITY-40:              rgba(255, 0, 15, 0.48);     /* #FF000F7A  */
    --fp-color-RED-OPACITY-50:              rgba(255, 0, 15, 0.56);     /* #FF000F8F  */
    --fp-color-RED-OPACITY-60:              rgba(255, 0, 15, 0.64);     /* #FF000FA3  */
    --fp-color-RED-OPACITY-70:              rgba(255, 0, 15, 0.72);     /* #FF000FB8  */
    --fp-color-RED-OPACITY-80:              rgba(255, 0, 15, 0.80);     /* #FF000FCC  */
    --fp-color-RED-OPACITY-90:              rgba(255, 0, 15, 0.88);     /* #FF000FE0  */

    /* ABB STATUS COLORS */

    --fp-color-GREEN-OK:            #21A67A;
    --fp-color-YELLOW-WARNING:      #FFA200;
    --fp-color-RED-DANGER:          #EF3934;

    --fp-color-STATUS-SUCCESS:      #21A67A;
    --fp-color-STATUS-SUCCESS-BG:   #EEF8F5;

    --fp-color-STATUS-WARNING:      #FFA200;
    --fp-color-STATUS-WARNIN-BG:    #FEF9EF;
    --fp-color-STATUS-WARNING-BG:   #FEF9EF;

    --fp-color-STATUS-ERROR:        #EF3934;
    --fp-color-STATUS-ERROR-BG:     #FBF0F0;

    --fp-color-STATUS-INFO:         #0052FF;
    --fp-color-STATUS-INFO-BG:      #D8E4FF;
    
}

/** ANIMATION **/
@keyframes handAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    font-family: "Segoe UI", "Verdana", "sans-serif";
    color: black;
    background-color: white;
    font-size: 14px;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.fp-components-base {
    font-family: "Segoe UI", "Verdana", "sans-serif";
    color: black;
    background-color: white;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.fp-components-common-icon-32 {
    max-width: 32px;
    max-height: 32px;
}

.fp-components-common-icon-40 {
    max-width: 40px;
    max-height: 40px;
}

.fp-components-common-icon-48 {
    max-width: 48px;
    max-height: 48px;
}

/******* ON-SCREEN KEYBOARD ********/

.fp-components-keyboard-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0,0,0,0.6);
}

.fp-components-keyboard {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100vw;
    height: 71vh;
    background-color: #4b4b4b;
    font-family: "Segoe UI", "Verdana", "sans-serif";
    color: white;    
    box-shadow: 0 0 5px  #222222;
}

.fp-components-keyboard-toparea {
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
    justify-content: flex-start;
    align-items: flex-end;
}

.fp-components-keyboard-label {
    height: 120px;
    text-align: left;
    padding: 16px;
    box-sizing: border-box;
    font-size: 20px;
}

.fp-components-keyboard-input {
    appearance: none;
    font-size: 36px;
    font-family: "Consolas", "Courier", "monospace";
    height: 65px;
    color: black;
    font-weight: normal;
    margin-right: 20px;
    margin-left:  15px;
    margin-top: 15px;
    margin-bottom: auto;
    padding-left: 10px;
    flex-grow: 1;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-color: rgb(160, 160, 160);
    transform: scale(1);
}

.fp-components-keyboard-input::-ms-clear {
    display: none;
}

.fp-components-keyboard-hand {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: calc(100vw - 281px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fp-components-keyboard-hand > div {
    background: url("./img/svg/abb_touch_32.svg");
    width: 48px;
    height: 48px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    transform: scale(1);
    animation: handAnimation 1.5s ease-in-out infinite;
}

.fp-components-keyboard-hand-hide {
    display: none;
}

.fp-components-keyboard-button {
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 18px;
    transition: transform 0.03s linear;
    font-size: 1.0em;
    border-radius: 4px;
    min-width: 90px;
    height: 40px;
    box-sizing: border-box;
    background-color: var(--fp-color-GRAY-20);
    color: black;
    border-style: solid;
    border-color: var(--fp-color-GRAY-20);
    border-width: 2px;
    border-radius: 20px;
}

.fp-components-keyboard-button:hover {    
    background-color: var(--fp-color-GRAY-30);
    border-color: var(--fp-color-GRAY-30);
}

.fp-components-keyboard-button:active {
    background-color: var(--fp-color-GRAY-40);
    border-color: var(--fp-color-GRAY-40);
}

.fp-components-keyboard-ok {
    background-color: var(--fp-color-BLUE-PRIMARY-HIGHLIGHT);
    border-color: var(--fp-color-BLUE-PRIMARY-HIGHLIGHT);
    color: var(--fp-color-STD-BACKGROUND);
}

.fp-components-keyboard-ok:not(.fp-components-keyboard-disabled-button):hover {
    background-color: var(--fp-color-BLUE-70);
    border-color: var(--fp-color-BLUE-70);
}

.fp-components-keyboard-ok:not(.fp-components-keyboard-disabled-button):active {
    background-color: var(--fp-color-BLUE-80);
    border-color: var(--fp-color-BLUE-80);
}

.fp-components-keyboard-disabled-button {
    color: var(--fp-color-GRAY-40);
    border-color: var(--fp-color-GRAY-30);
    background-color: var(--fp-color-GRAY-10);
}

.fp-components-keyboard-disabled-button:hover {
    color: var(--fp-color-GRAY-40);
    border-color: var(--fp-color-GRAY-30);
    background-color: var(--fp-color-GRAY-10);
}

.fp-components-keyboard-row {
    display: flex;
    height: 65px;
    margin-bottom: 5px;
}

/******* DEBUG WINDOW ********/

#fp-debugwindow {
    display: none;
    position: fixed;
    z-index: 2147483647;
    left: 50px;
    top: 50px;
    max-width: calc(100vw - 100px);
    min-width: calc(100vw - 100px);
    max-height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    background-color: black;
    color: ghostwhite;
    padding: 0;
    font-family: 'Consolas', 'Courier New', 'Courier', 'monospace';
    font-size: 16px;
    box-shadow: 0px 0px 10px  #222222;
    border-radius: 5px;
}

#fp-debugwindow-grid {
    display: grid;
    grid-template-areas:    'fp-debugwindow-gridarea-content'
                            'fp-debugwindow-gridarea-menu';
    grid-template-columns: auto;
    grid-template-rows: calc(100vh - 100px - 50px) 50px ;
    margin: 0;
    padding: 0;
}

#fp-debugwindow-content {
    overflow-y: auto;
    grid-area: fp-debugwindow-gridarea-content;
    height: calc(100vh - 100px - 50px - 10px);
    margin: 0;
    padding: 5px;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#fp-debugwindow-content > p {
    padding: 0;
    margin: 0;
}

#fp-debugwindow-content > pre {
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
}

#fp-debugwindow-menu {
    grid-area: fp-debugwindow-gridarea-menu;
    margin-left: 8px;
    margin-top: 4px;
}

#fp-debugwindow-clock {
    margin: 0;
}

.fp-debugwindow-button  {
    background-color: rgb(58, 58, 58);
    color: ghostwhite;
    pointer-events: all;
    display: inline-block;
    border-style: groove;
    border-color: rgb(120,120,120);
    border-radius: 5px;
    border-width: 2px;
    padding: 8px 4px 8px 4px;
    margin-left: 12px;
    min-width: 100px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

.fp-debugwindow-button:active  {
    background-color: rgb(120, 120, 120);
}

#fp-debugwindow-minimized {
    z-index: 2147483647;
    background-color: rgb(206, 206, 206);
    opacity: 0.5;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    padding: 5px;
    box-shadow: 0px 0px 5px  #222222;
    
}


