
/*

(c) Copyright 2020-2024 ABB

Any unauthorized use, reproduction, distribution,
or disclosure to third parties is strictly forbidden.
ABB reserves all rights regarding Intellectual Property Rights

// OmniCore App SDK 1.4.1

*/

.fp-components-radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fp-components-radio, .fp-components-radio-checked {
    display: flex;
    background-color: var(--fp-color-BLACK-OPACITY-2);
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    transition: all 0.07s linear;
}

.fp-components-radio > div, .fp-components-radio-checked > div {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-left: 6px;
    margin-top: 6px;
    transition: all 0.07s linear;
}

.fp-components-radio {
    border-color: var(--fp-color-BLACK-OPACITY-30);
}

.fp-components-radio:hover {
    background-color: var(--fp-color-WHITE-OPACITY-20);
    border-color: var(--fp-color-BLACK-OPACITY-50);
}

.fp-components-radio:active {
    background-color: var(--fp-color-WHITE-OPACITY-20);
    border-color: var(--fp-color-BLACK-OPACITY-50);
}

.fp-components-radio > div {
    background-color: rgba(0,0,0,0);
}

.fp-components-radio-checked {
    background-color: var(--fp-color-BLUE-60);
    border-color: rgba(0,0,0,0);
}

.fp-components-radio-checked:hover {
    background-color: var(--fp-color-BLUE-OPACITY-90);
    border-color: rgba(0,0,0,0);
}

.fp-components-radio-checked:active {
    background-color: var(--fp-color-BLUE-OPACITY-70);
    border-color: rgba(0,0,0,0);
}

.fp-components-radio-checked > div {
    background-color: white;
}

.fp-components-radio-checked:active > div {
    background-color: white;
}

.fp-components-radio.fp-components-radio-disabled, .fp-components-radio-checked.fp-components-radio-disabled {
    background-color: var(--fp-color-BLACK-OPACITY-8);
    border-color: rgba(0,0,0,0);
}

.fp-components-radio-checked.fp-components-radio-disabled > div {
    background-color: var(--fp-color-BLACK-OPACITY-30);
}

.fp-components-radio-desc {
    margin-left: 10px;
    white-space: nowrap;
    font-size: 14px;
}



