
/*

(c) Copyright 2020-2024 ABB

Any unauthorized use, reproduction, distribution,
or disclosure to third parties is strictly forbidden.
ABB reserves all rights regarding Intellectual Property Rights

// OmniCore App SDK 1.4.1

*/

/* Contains entire component */
.fp-components-hamburgermenu-a-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    box-sizing: border-box;
}

.fp-components-hamburgermenu-a-container__content {
    max-height: 100%;
    flex: 1 1 100%;
    overflow: auto;
    box-sizing: border-box;
}

.fp-components-hamburgermenu-a-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.fp-components-hamburgermenu-a-overlay--open {
    display: block;
}

/* hamburger icon button container */
.fp-components-hamburgermenu-a-button-container {
    width: 48px;
    height: 48px;
    padding: 8px;
    background-color: transparent;
    position: sticky;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.fp-components-hamburgermenu-a-button {
    background-image: url("img/svg/abb_menu_32.svg");
    width: 32px;
    height: 32px;
}

.fp-components-hamburgermenu-a-button-container:hover {
    background-color: var(--fp-color-GRAY-30);
}

.fp-components-hamburgermenu-a-button-container:active {
    background-color: var(--fp-color-GRAY-40);
}

/* Menu wrapper, used to push content when visible menu is used */
.fp-components-hamburgermenu-a-menu__wrapper  {
    height: 100%;
    background-color: var(--fp-color-GRAY-10);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    flex: 1 1 auto;
    position: relative;
    width: 0px;
}

.fp-components-hamburgermenu-a-menu__wrapper--visible {
    width: 48px;
    min-width: 48px;
}

/* Menu container, used to hide scrollbar when menu is scrollable, and to separate menu from header */
.fp-components-hamburgermenu-a-menu__container {
    height: 100%;
    width: 0;
    position: absolute;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background-color: var(--fp-color-GRAY-10);
    overflow-x: hidden;
    border-right: 1px solid var(--fp-color-GRAY-30);
}

.fp-components-hamburgermenu-a-menu__container--visible {
    width: 48px;
}

.fp-components-hamburgermenu-a-menu__container--open {
    width: 320px;
}

/* Menu containing the menu buttons */
.fp-components-hamburgermenu-a-menu {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 48px);
    width: 0px;
    padding-right: 18px;
    background:
        /* Shadow covers, hide shadows when scrolled to top or bottom*/
        linear-gradient(var(--fp-color-GRAY-10) 30%, rgba(34,34,34,0)),
        linear-gradient(rgba(34,34,34,0), var(--fp-color-GRAY-10) 10%),
        
        /* Shadows */
        linear-gradient(rgba(34,34,34, 0.25) 0%, rgba(0,0,0,0)),
        linear-gradient(rgba(0,0,0,0) 0%, rgba(34,34,34, 0.25));
    background-repeat: no-repeat;
    background-color: var(--fp-color-GRAY-10);
    background-size: 100% 80px, 100% 80px, 100% 40px, 100% 40px;
    background-attachment: local, local, scroll, scroll;
    transition: all 0.2s ease-in-out;
}

.fp-components-hamburgermenu-a-menu__container--visible .fp-components-hamburgermenu-a-menu {
    width: 48px;
}

.fp-components-hamburgermenu-a--open {
    width: 320px !important;
}

.fp-components-hamburgermenu-a-menu__title-container {
    background-color: var(--fp-color-GRAY-10);
    height: 48px;
    line-height: 48px;
    top: -2px;
    left: 0;
    width: 0;
					   
    padding-left: 55px;
    overflow: hidden;
    position: sticky;
    transition: all 0.2s ease-in-out;
}

.fp-components-hamburgermenu-a-menu__title-text {
    width: calc(320px - 55px);
    font-size: 24px;
    font-weight: 600;
    flex: 1 0 auto;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fp-components-hamburgermenu-a-menu__container--open .fp-components-hamburgermenu-a-menu__title-container {
    width: 320px;
									 
}

.fp-components-hamburgermenu-a-menu__button {
    display: flex;
								   
				
    width: 320px;
    max-height: 70px;
    min-height: 48px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 12px;
    box-sizing: border-box;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: transparent;
    flex: 1 1 auto;
}

.fp-components-hamburgermenu-a-menu__button:hover {
    background-color: var(--fp-color-GRAY-30);
    border-left-color: var(--fp-color-GRAY-30);
}

.fp-components-hamburgermenu-a-menu__button:active {
    background-color: var(--fp-color-GRAY-40);
    border-left-color: var(--fp-color-GRAY-40);
}

.fp-components-hamburgermenu-a-menu__button--active {
    background-color: var(--fp-color-GRAY-20);
    border-left-color: var(--fp-color-BLUE-60);
}

.fp-components-hamburgermenu-a-menu__button--active:active {
    background-color: var(--fp-color-GRAY-40);
    border-left-color: var(--fp-color-BLUE-60);
}

.fp-components-hamburgermenu-a-menu__button--active:hover {
    background-color: var(--fp-color-GRAY-30);
    border-left-color: var(--fp-color-BLUE-60);
}

.fp-components-hamburgermenu-a-menu__button-icon {
    width: 24px;
    height: 24px;
    margin-right: 14px;
    flex: 0 0 24px;
    background-size: 100% 100%;
    background-image: url("./img/svg/TPU_placeholder_icon_24.svg");
}

.fp-components-hamburgermenu-a-menu__button-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
}