
/*

(c) Copyright 2020-2024 ABB

Any unauthorized use, reproduction, distribution,
or disclosure to third parties is strictly forbidden.
ABB reserves all rights regarding Intellectual Property Rights

// OmniCore App SDK 1.4.1

*/

.fp-components-button, .fp-components-button-disabled {
    background-color: var(--fp-color-BLACK-OPACITY-4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 18px;
    font-size: 14px;
    font-weight: 600;
    min-width: 90px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 20px;
}

.fp-components-button {
    color: var(--fp-color-TEXT-BLACK-PRIMARY);
}

.fp-components-button-disabled {
    color: var(--fp-color-BLACK-OPACITY-30);
    background-color: var(--fp-color-BLACK-OPACITY-2);
}

.fp-components-button-disabled.fp-components-button-highlight {
    color: var(--fp-color-WHITE-OPACITY-30);
    background-color: var(--fp-color-BLUE-OPACITY-50);
}

.fp-components-button:active {
    background-color: var(--fp-color-BLACK-OPACITY-8);
}

.fp-components-button:hover:not(:active) {
    background-color: var(--fp-color-BLACK-OPACITY-6);
}

.fp-components-button.fp-components-button-highlight {
    background-color: var(--fp-color-BLUE-60);
    color: var(--fp-color-TEXT-WHITE-PRIMARY);
}

.fp-components-button.fp-components-button-highlight:active {
    background-color: var(--fp-color-BLUE-OPACITY-70);
}

.fp-components-button.fp-components-button-highlight:hover:not(:active) {
    background-color: var(--fp-color-BLUE-OPACITY-90);
}

.fp-components-button-text {
    flex: 1 0 auto;
    text-align: center;
}

.fp-components-button-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fp-components-button-disabled > .fp-components-button-icon {
    opacity: 0.4;
}