
/*

(c) Copyright 2020-2024 ABB

Any unauthorized use, reproduction, distribution,
or disclosure to third parties is strictly forbidden.
ABB reserves all rights regarding Intellectual Property Rights

// OmniCore App SDK 1.4.1

*/

.fp-components-toggle {

    display: inline-flex;
    flex-direction: row;

    font-family: "Segoe UI", "Verdana", "sans-serif";
    font-size: 14px;
    background-color: inherit;
}

.fp-components-toggle > * {

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    min-width: 60px;

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    /* padding: 12px 32px 12px 8px; */

    color: var(--fp-color-TEXT-BLACK-PRIMARY);
    background-color: var(--fp-color-WHITE);

    border-style: solid none solid solid;
    border-width: 2px;
    border-color: var(--fp-color-GRAY-10);
}

.fp-components-toggle > * > *:not(:last-child){
    margin-right: 0px;
}

.fp-components-toggle > *:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fp-components-toggle > *:last-child {
    border-right-style: solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fp-components-toggle > .fp-components-toggle-on + * {
    border-left-color: var(--fp-color-BLUE-PRIMARY-HIGHLIGHT);
}

.fp-components-toggle > .fp-components-toggle-on {
    background-color: var(--fp-color-BLUE-60);
    border-color: var(--fp-color-BLUE-60);
    color: var(--fp-color-WHITE);
}



/* Hover */

.fp-components-toggle > *:hover {
    background-color: var(--fp-color-BLACK-OPACITY-4);
    border-color: rgba(0,0,0,0);                
}

.fp-components-toggle > *:hover:not(.fp-components-toggle-on) + *:not(.fp-components-toggle-on) {
    border-left-color: var(--fp-color-BLACK-OPACITY-4);                
}

.fp-components-toggle > .fp-components-toggle-on + *:hover {
    /* background-color: var(--fp-color-GRAY-10); */
    border-left-color: var(--fp-color-BLUE-60);
}


.fp-components-toggle > .fp-components-toggle-on:hover {
    background-color: var(--fp-color-BLUE-OPACITY-90);
    border-color:  rgba(0,0,0,0);                
}

.fp-components-toggle > .fp-components-toggle-on:hover + *:not(.fp-components-toggle-on) {
    border-left-color:  var(--fp-color-BLUE-OPACITY-90);
}            



/* Active (press)  */

.fp-components-toggle > *:active {
    background-color: var(--fp-color-BLACK-OPACITY-6);
    border-color: rgba(0,0,0,0);
}

.fp-components-toggle > *:active:not(.fp-components-toggle-on) + *:not(.fp-components-toggle-on) {
    border-left-color: var(--fp-color-BLACK-OPACITY-6);                
}

.fp-components-toggle > .fp-components-toggle-on + *:active {
    /* background-color: var(--fp-color-GRAY-20); */
    border-left-color: var(--fp-color-BLUE-60);
}

.fp-components-toggle > .fp-components-toggle-on:active {
    background-color:  var(--fp-color-BLUE-OPACITY-70);
    border-color:  rgba(0,0,0,0);
}

.fp-components-toggle > .fp-components-toggle-on:active + *:not(.fp-components-toggle-on) {
    border-left-color: var(--fp-color-BLUE-OPACITY-70);
} 


/* Border between two "on" buttons */

.fp-components-toggle > .fp-components-toggle-on + .fp-components-toggle-on {
    border-left-color: var(--fp-color-GRAY-10) !important;
}

.fp-components-toggle-icon {
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}