
/*

(c) Copyright 2020-2024 ABB

Any unauthorized use, reproduction, distribution,
or disclosure to third parties is strictly forbidden.
ABB reserves all rights regarding Intellectual Property Rights

// OmniCore App SDK 1.4.1

*/

.fp-components-checkbox-root {
    display: flex;
    flex-direction: row;
}

.fp-components-checkbox, .fp-components-checkbox-checked {
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    align-items: center;
    transition: all 0.07s linear;
}

.fp-components-checkbox canvas, .fp-components-checkbox-checked canvas {
    display: none;
}

.fp-components-checkbox-checked:not(.fp-components-checkbox-disabled) canvas:nth-child(1) {
    display: inline-block;
}

.fp-components-checkbox-checked.fp-components-checkbox-disabled canvas:nth-child(2) {
    display: inline-block;
}

.fp-components-checkbox {
    background-color: var(--fp-color-BLACK-OPACITY-2);
    border-color: var(--fp-color-BLACK-OPACITY-30);
}

.fp-components-checkbox:hover {
    background-color: var(--fp-color-BLACK-WHITE-20);
    border-color: var(--fp-color-BLACK-OPACITY-50);
}

.fp-components-checkbox-checked {
    background-color: var(--fp-color-BLUE-PRIMARY-HIGHLIGHT);
    border-color: var(--fp-color-BLUE-PRIMARY-HIGHLIGHT);
}

.fp-components-checkbox-checked:hover:not(.fp-components-checkbox-disabled) {
    background-color: var(--fp-color-BLUE-OPACITY-90);
    border-color: rgba(0,0,0,0);
}

.fp-components-checkbox.fp-components-checkbox-disabled {
    background-color: var(--fp-color-BLACK-OPACITY-8);
    border-color:  rgba(0,0,0,0);
}

.fp-components-checkbox-checked.fp-components-checkbox-disabled {
    background-color: var(--fp-color-BLACK-OPACITY-8);
    border-color:  rgba(0,0,0,0);
}

.fp-components-checkbox-checked:active:not(.fp-components-checkbox-disabled) {
    background-color: var(--fp-color-BLUE-OPACITY-70);
    border-color: rgba(0,0,0,0);
}

.fp-components-checkbox-desc {
    display: flex;
    font-size: 14px;
    color: inherit;
    white-space: nowrap;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.fp-components-checkbox-checked .fp-components-checkbox-desc {
    margin-left: 10px;
}


