
/*

(c) Copyright 2020-2024 ABB

Any unauthorized use, reproduction, distribution,
or disclosure to third parties is strictly forbidden.
ABB reserves all rights regarding Intellectual Property Rights

// OmniCore App SDK 1.4.1

*/

.fp-components-switch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fp-components-switch-button {
    display: inline-block;
    background-color: var(--fp-color-BLACK-OPACITY-6);
    border-radius: 12px;
    height: 24px;
    width: 40px;
    transition: all 0.07s linear; 
}
.fp-components-switch-button:hover {
    background-color: var(--fp-color-BLACK-OPACITY-8);
}

.fp-components-switch-button > div {
    background-color: var(--fp-color-WHITE);
    border-radius: 12px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--fp-color-BLACK-OPACITY-30);
    height: 24px;
    width: 24px;
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    transition: all 0.07s linear;
 }
 .fp-components-switch-button:hover > div {
    border-color: var(--fp-color-BLACK-OPACITY-40);
 }

 .fp-components-switch-button-disabled {
    background-color: var(--fp-color-BLACK-OPACITY-6);
}
.fp-components-switch-button-disabled:hover {
    background-color: var(--fp-color-BLACK-OPACITY-6);
 }

 .fp-components-switch-button-disabled > div {
    background-color: var(--fp-color-WHITE-OPACITY-90);
    border-color: var(--fp-color-BLACK-OPACITY-4);
 }
 .fp-components-switch-button-disabled:hover > div {
    background-color: var(--fp-color-WHITE-OPACITY-90);
    border-color: var(--fp-color-BLACK-OPACITY-4);
 }

 .fp-components-switch-button-active {
    background-color: var(--fp-color-BLUE-60);
}
 .fp-components-switch-button-active:hover {
    background-color: var(--fp-color-BLUE-50);
}

.fp-components-switch-button-active > div {
    background-color: var(--fp-color-WHITE);
    border-color: var(--fp-color-BLUE-60);
    margin-left: 16px;
 }
.fp-components-switch-button-active:hover > div {
    background-color: var(--fp-color-WHITE);
    border-color: var(--fp-color-BLUE-40);
 }

 .fp-components-switch-button-active.fp-components-switch-button-disabled {
    background-color: var(--fp-color-BLACK-OPACITY-4);
 }

 .fp-components-switch-button-active.fp-components-switch-button-disabled > div {
    background-color: var(--fp-color-WHITE-OPACITY-90);
    border-color: var(--fp-color-BLACK-OPACITY-4);
}

.fp-components-switch-button-desc {
    font-size: 14px;
    color: inherit;
    white-space: nowrap;
    margin-left: 10px;
}